/* Parallax base styles
  --------------------------------------------- */

.parallax1 {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
   
}

/* Parallax groups/cards - mostly just sets height
  --------------------------------------------- */
.parallax__group_noheight {
    position: relative;
  
}

.parallax__group_littleshort {
    position: relative;
    height: 400px;
    /* fallback for older browsers */
    height: 80vh;
  
}
.parallax__group_quiteshort {
    position: relative;
    height: 350px;
    /* fallback for older browsers */
    height: 70vh;
}

/* Parallax layers - sets the depths
  --------------------------------------------- */

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
/* give some the groups full div pictures using background url
  --------------------------------------------- */

@media all and (orientation:portrait) {
    #group5venue .background-image {
        background: url(../img/braxted_tall.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media all and (orientation:landscape) {
    #group5venue .background-image {
        background: url(../img/braxted.jpg) no-repeat center center;
        background-size: cover;
    }
}
