.square {
    position: relative;
    display: block; /* could be float */
    width: 70%;
    border: 10px solid #fff;
    -webkit-box-shadow: 2px 2px 2px #777;
    -moz-box-shadow: 2px 2px 2px #777;
    -webkit-transition: -webkit-transform .25s linear;
    margin-left: auto;
    margin-right: auto;
}
.square:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    z-index: 5;
}
.sq-setter-w {
    width: 100%;
    height: auto;
    visibility: hidden;
}
.sq-setter-h {
    width: auto;
    height: 100%;
    visibility: hidden;
}
.sq-content {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sq-footer {
/*     position: absolute;
    bottom: -10;
    margin-left: auto;
    margin-right: auto; */


      position: absolute;
      z-index: 2;
      vertical-align: bottom;
      text-align: center;
      width: 100%;
      bottom: 0px;
      font: 1px 'Kaushan Script', cursive;
      color: #888;
}

/* just for display */
.sq-setter-w + .sq-content {
    background: url("../img/photo1.jpg") no-repeat center center;
    background-size: cover;}
.sq-setter-h + .sq-content {
    background: url("../img/photo1.jpg") no-repeat center center;
    background-size: cover;}

.turnR5 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.turnL6 {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}

.turnL2 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.turnL1-25 {
    -webkit-transform: rotate(1.25deg);
    -moz-transform: rotate(1.25deg);
    -o-transform: rotate(1.25deg);
    -ms-transform: rotate(1.25deg);
    transform: rotate(1.25deg);
}
