
#blackOverlay1,
#blackOverlay2,
#blackOverlay3 {
  background-color:#000;
  opacity:0.0;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  z-index:1001;
}

/* misc
  --------------------------------------------- */
  .demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }

  /* Misc
  --------------------------------------------- */

@media all and (orientation:portrait) {
    #group2 .bcg {
    background: url(../img/photo1_tall.jpg) no-repeat center center;
    background-size: cover; }
  #group4 .bcg {
    background: url(../img/photo3_tall.jpg) no-repeat center center;
    background-size: cover; }
  #group5b .bcg {
    background: url(../img/photo2_tall.jpg) no-repeat center center;
    background-size: cover; }
  .no-show-on-portrait {
  display: none
  }
}
@media all and (orientation:landscape) {
    #group2 .bcg {
    background: url(../img/photo1_superwide.jpg) no-repeat center center;
    background-size: cover;
    }
  #group4 .bcg {
    background: url(../img/photo3_superwide.jpg) no-repeat center center;
    background-size: cover; }
  #group5b .bcg {
    background: url(../img/photo2_superwide.jpg) no-repeat center center;
    background-size: cover; }
  .no-show-on-landscape {
  display: none
  }
}

   #group5 .bcg {
    background: url(../img/seamless-white-paper-texture-foy7ea0um.jpg) no-repeat center center;
    background-size: cover; }

  #map {
        width: 100%;
        height: 100%;
      }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

/*   #map {
        width: 100%;
        height: 100%;
      } */
}

.white-frame img {
    border: 20px solid #fff;
}

.polaroid {
  position: relative;
        width: 50%;
        height: 50%;
}

.polaroid > div{
  border: 10px solid #fff;
/*   border-bottom: 45px solid #fff; */
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
/* .gmnoprint div {
    background:none !important;
} */

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


.polaroid2 {
  position: relative;

  height: 355px;
  width: 260px;

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);


  -webkit-transition: -webkit-transform .15s linear;
}

.polaroid2:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.polaroid2 img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;

  height: 260px;
  width: 260px;
}

.polaroid2 p {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 30px;
  bottom: 0px;
  font: 400 20px/1 'Kaushan Script', cursive;
  color: #888;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {

 .polaroid2 {
  position: relative;

  height: 20%;
  width: 20%;

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);

  -webkit-transition: -webkit-transform .15s linear;
}

.polaroid2:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  position: relative;

  z-index: 5;
}

.polaroid2 img {
  border: 3px solid #fff;
  border-bottom: 20px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;

  height: 100%;
  width: 100%;
}

.polaroid2 p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 7px/1 'Kaushan Script', cursive;
/*   color: #888; */
  color: #888;
}
}



ul.polaroids a:after {
  content: attr(title);
}
/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}
/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
ul.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

ul img {
  width: 170px;
}


