#floating-panel {
    position: absolute;
    top: 35%;
    text-align: center;
    width:100%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    font-size: 6vh;
}
#floating-inner {
    width: 40%;
    margin: 0 auto; 
    background-color: #fff;
    border: 3px solid #7F7F70;
    font-family: 'Playball', cursive;
    /*font-weight: bold;*/
    color: #7F7F70;
}

/*input[type="range"]*/
/*{*/
/*  width:60%;*/

/*}*/

.button{
  width: 150px;
  height: 150px;
  background: #7ab8a0;
  color: #ffffff;
  cursor:pointer;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-size: 3.0vh;
  border-radius: 10px;
  font-family: 'Rochester', arial;
}
.button:hover {
  background: #e8d1d9;
}
.map__button{
  width: 50px;
  height: 50px;
  font-size: 35px;
  background: #7ab8a0;
  color: #ffffff;
  cursor:pointer;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0px;
  display: inline-block;
}
.map__button:hover {
  background: #acd2c4;
}
.map__button_play {
  padding-top: 1px;
}
.map__button_repeat {
  padding-top: 4px;
}
.ulList{
    list-style-type: none;
    font-size: 80%;
}

.ulList > li{
   font-size: 140%;
}

.liTitle{
    font-weight: bold;
}
/* .button {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
} 
/* ol {
 row-count:9;
   -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
} */
#groupsweep{
   text-align: center;

    font-weight: bold;

    font-size : 12pt;
}

#groupTitlePotrait .banner {
    width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#groupTitleLandscape .banner {
    width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
}

#groupcontactUs{
    text-align:center;
}

.title-braxted {

    text-align: center;
    font-family: 'Playball', cursive;
    font-weight: bold;
    color: #7F7F70;

    font-size : 20pt;
    font-style:underline;
    border-radius: 10px;
}
.title {
    text-align: center;
    font-family: 'Playball', cursive;
    font-weight: bold;
    color: #7F7F70;
    font-size : 30pt;
    font-style:underline;
    border-radius: 10px;
}
ol .title {

    text-align: center;
    font-family: 'Rochester', arial;
    font-weight: bold;
    color: #98988A;
    font-size : 19pt;
    background-color:#ffffff;

}
ol {

    text-align: center;
    font-family: 'Rochester', arial;
    font-size : 15pt;
}
.Handwriting {
    text-align: Center;
    font-size : 60pt;
    font-family: 'Dancing Script', cursive;
    color: #98988A;

}
p{
  text-align: justify;
}

.body {
    font-family: 'Rochester', arial;
    color: #98988A;

}

.body {
  font-size: 130%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    .body {
        font-size: 100%;
    }
}

/* hide scrollReveal text until resources loaded
  --------------------------------------------- */
.sr {
    visibility:hidden;
}

/* blackOverlay for fading
  --------------------------------------------- */
.blackOverlay2,
.blackOverlay3 {
    background-color: #000;
    opacity: 0.0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

/* google map styles
  --------------------------------------------- */
.map {
    border: 3px solid #7F7F70;
}
.polaroid-map {
    padding-top: 30px;
    right: 50px;
    position: absolute;
    width: 30%;
    height: 30%;
}

.polaroid-map > div {
    border: 10px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.polaroid-map p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
}

.map {
    width: 100%;
    height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    .polaroid-map {
        padding-top: 10px;
        right: 20px;
        position: absolute;
        width: 30%;
        height: 30%;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* misc
  --------------------------------------------- */
.white-picture-frame {
    background: url(../img/photo1_superwide.jpg) no-repeat center center;
    background-size: cover;
    height:70vh;
    width:70vw;
    border: 20px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

.white-picture-frame > #titlePicture {
    height:100%;
    width:100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    .white-picture-frame {
        border: 10px solid #fff;
    }
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-item {
  width: 100%;
}
.flex-item-centered {
  width: 100%;
  text-align: center;
}
.center {
  text-align: center;
}

@media all and (orientation:portrait) {
    .hide-when-portrait {
        display: none
    }
}

@media all and (orientation:landscape) {
    .hide-when-landscape {
        display: none
    }
}



