/*
Images START
*/
body{
    text-align: justify;
}

#hotel_photo {
  background: url(../img/braxted.jpg) no-repeat bottom center;
  background-size: cover;
  height: 600px;
}

.address img {}


/*
Images END
*/


/*
Lists START
*/

.address li {
  list-style-type: none;
}

.translator li {
  list-style-type: none;
}

.li_title {
  font-weight: bold;
}


/*
Lists END
*/


/*
Fonts START
*/

.Handwriting {
  text-align: Center;
  font-size: 60pt;
  font-family: 'Dancing Script', cursive;
  color: #98988A;
}

.text_title {
  text-align: center;
  font-family: 'Playball', cursive;
  font-weight: bold;
  color: #7F7F70;
  font-size: 30pt;
  font-style: underline;
}

p {
  text-align: justify;
}

.title-braxted {
  text-align: center;
  font-family: 'Playball', cursive;
  font-weight: bold;
  color: #7F7F70;
  font-size: 18pt;
  padding-top: 10px;
}

.title-braxted> a {
  color: #619380;
}

.title-braxted> a:focus,
.title-braxted> a:hover {
  color: #F5ECEF;
}

.title-braxted> a:hover {
  color: #F5ECEF;
}
/*
Fonts END
*/


/* 
Positioning START
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_text {
  text-align: center;
}

#header-content {
  padding-bottom: 100px;
}


/* 
Positioning END
*/


/*
Controls START
*/

.button {
  width: 150px;
  height: 150px;
  background: #7ab8a0;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 10px;
  font-family: 'Rochester', arial;
}

.button:hover {
  background: #e8d1d9;
}

a.button:focus, a.button:hover {
     color: #fff; 
     text-decoration: none; 
}

.map__button {
  width: 50px;
  height: 50px;
  font-size: 35px;
  background: #7ab8a0;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0px;
  display: inline-block;
}

.map__button:hover {
  background: #acd2c4;
}

.map__button_play {
  /*   padding-top: 1px; */
}

.map__button_repeat {
  padding-top: 2px;
}


/*
Controls END
*/


/* 
Google Map START
*/

.map {
  border: 3px solid #7F7F70;
  width: 100%;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

#floating-panel {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 4rem;
}

#floating-inner {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid #7F7F70;
  font-family: 'Playball', cursive;
  color: #7F7F70;
}

#map-hold-all-elements {
  /* necessary for floating-panel to float correctly */
  position: relative;
  /* space from above */
  margin-top: 10px;
}


/* 
Google Map END
*/


/* 
Trip Advisor START
*/

.tripadvisor img {
  vertical-align: initial;
}


/* 
Trip Advisor END
*/


/* 
List START
*/

.ulList, .olList {
  padding-left: 0px;
}


/* 
Lists End
*/

/*
Image Slider START
*/

#slidy-container {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}

/*
*/

@media screen and (max-width: 600px) {
	#slidy-container figcaption { 
		font-size: 1rem !important; 
	}
}

/*
Image Slider END
*/
