#blackOverlay {
  background-color:#000;
  opacity:0.0;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  z-index:1001;
}

/* misc
  --------------------------------------------- */
  .demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }

  /* Misc
  --------------------------------------------- */

@media all and (orientation:portrait) {
    #group2 .bcg {
    background: url(../img/photo1_tall.jpg) no-repeat center center;
    background-size: cover; }
  #group4 .bcg {
    background: url(../img/photo3_tall.jpg) no-repeat center center;
    background-size: cover; }
  #group5b .bcg {
    background: url(../img/photo2_tall.jpg) no-repeat center center;
    background-size: cover; }
  .no-show-on-portrait {
  display: none
  }
}
@media all and (orientation:landscape) {
    #group2 .bcg {
    background: url(../img/photo1_superwide.jpg) no-repeat center center;
    background-size: cover;
    }
  #group4 .bcg {
    background: url(../img/photo3_superwide.jpg) no-repeat center center;
    background-size: cover; }
  #group5b .bcg {
    background: url(../img/photo2_superwide.jpg) no-repeat center center;
    background-size: cover; }
  .no-show-on-landscape {
  display: none
  }
}

   #group5 .bcg {
    background: url(../img/seamless-white-paper-texture-foy7ea0um.jpg) no-repeat center center;
    background-size: cover; }

  #map {
        width: 100%;
        height: 100%;
      }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

/*   #map {
        width: 100%;
        height: 100%;
      } */
}

.white-frame img {
    border: 20px solid #fff;
}

.polaroid {
  position: relative;
        width: 50%;
        height: 50%;
}

.polaroid > div{
  border: 10px solid #fff;
/*   border-bottom: 45px solid #fff; */
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
/* .gmnoprint div {
    background:none !important;
} */

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

